.dashboard-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
	gap: 20px;
	margin-top: 20px;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.poster {
	max-height: 400px;
	object-fit: cover;
	object-position: top;
}
