.doubleDot {
	position: relative;
	display: block;
	margin: 5px 0;
}
.doubleDot:after {
	position: absolute;
	content: ":";
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.popValue {
	padding-left: 10px;
	margin: 5px 0;
	display: block;
}
