.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-form-align {
  position: relative;
  top: 28vh;
}

.login-label {
  position: relative;
  top: 24vh;
}

.register-label {
  position: relative;
  top: 10vh;
}
.register-form-align {
  position: relative;
  top: 15vh;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(245, 245, 245, 0.85) !important;
  font-weight: bold;
  line-height: 64px;
  background: #001529;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.doubleDot {
	position: relative;
	display: block;
	margin: 5px 0;
}
.doubleDot:after {
	position: absolute;
	content: ":";
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.popValue {
	padding-left: 10px;
	margin: 5px 0;
	display: block;
}
